<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>

    <link rel="stylesheet" href="../css/tailwind.css">
    <link rel="stylesheet" href="../font-awesome/css/all.min.css">
</head>
<body class="bg-gray-50 transition-all duration-700" style="font-family:Rubik;">

    <div class="m-auto lg:w-5/12">

        <div class="mx-5 lg:mx-5 md:mx-16 my-5 rounded-xl bg-white shadow-sm p-5" id="info">
            <div class="flex items-center gap-5">
                <div class="w-3/12">
                    <div id="icon" class="w-16 h-16 rounded-full bg-purple-50 flex justify-center items-center">
                        <i class="fa fa-cloud-sun text-purple-500 fa-2x shadow-2xl">

                        </i>
                    </div>
                </div>

                <div class="w-9/12">
                    <h2 id="ih" class="text-xl font-semibold text-gray-800">24° Mostly Cloudy</h2>
                    <p id="ip" class="mt-1 text-lg text-gray-600">Current location</p>
                </div>
            </div>
        </div>

        <div class="px-5 lg:px-5 md:px-16 mb-32 mt-5 chat">
            
            <div class="w-10/12 ml-auto mt-4" id="msg-right">
                <img src="../images/u.avatar.png" class="ml-auto w-8 mb-1 rounded-full" alt="">
                
                <div>
                    <div class="ml-auto w-max">
                        <svg xmlns="http://www.w3.org/2000/svg" class="msgLSvg fill-current text-gray-200" width="13.799" height="7.826" viewBox="0 0 13.799 7.826">
                            <path id="Soustraction_2" data-name="Soustraction 2" d="M-2286.9,102.7h-13.8v-.171a21.224,21.224,0,0,0,13.8-7.656V102.7Z" transform="translate(2300.7 -94.873)"/>
                        </svg>
                    </div>
                    
                    <div class="msgLCore text-lg w-max ml-auto py-2 px-3 bg-gray-200 text-gray-600 rounded-l-3xl rounded-br-3xl">
                        Don't code in 2021
                    </div>

                    
                </div>
            </div>

            <div class="w-10/12 mr-auto mt-4" id="msg-left">
                <img src="../images/gAssistant.png" class="w-7 mb-1" alt="">
    
                <div>
                    <div class="-mb-1">
                        <svg class="msgRSvg fill-current text-gray-50" xmlns="http://www.w3.org/2000/svg" width="13.799" height="10.527" viewBox="0 0 13.799 10.527">
                            <g id="left" transform="translate(-89.799 -172.173)">
                              <g id="Soustraction_2" data-name="Soustraction 2" transform="translate(2390.499 77.3)" fill="none">
                                <path d="M-2300.7,102.7h13.8v-.171a21.224,21.224,0,0,1-13.8-7.656V102.7Z" stroke="none"/>
                                <path d="M -2293.4501953125 101.6999053955078 C -2295.7490234375 100.6528625488281 -2297.861328125 99.21524047851563 -2299.69970703125 97.43533325195313 L -2299.69970703125 101.6999053955078 L -2293.4501953125 101.6999053955078 M -2286.90087890625 102.6999053955078 L -2300.69873046875 102.6999053955078 L -2300.69970703125 102.6999053955078 L -2300.69970703125 102.6988983154297 L -2300.69970703125 94.87345886230469 C -2297.220458984375 99.12329864501953 -2292.3203125 101.8418655395508 -2286.90087890625 102.5293655395508 L -2286.90087890625 102.6999053955078 Z" stroke="none" fill="#d1d5db"/>
                              </g>
                              <path id="Tracé_5" data-name="Tracé 5" d="M0,0,5.637.128,6.794.472l.609.2c.144.072,1.484.466,1.844.559C10.461,2.139,8,4,8,4H0Z" transform="translate(90.8 178.7)"/>
                            </g>
                        </svg>
                    </div>

                    <div class="msgRCore text-lg w-max py-2 px-3 border border-gray-300 text-gray-600 rounded-r-full rounded-bl-full">
                        Hello, say something ...
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="fixed bottom-0 lg:w-5/12 w-full">
            
            <div id="options" class="bg-white bg-opacity-90 flex justify-between items-center py-3 px-5 lg:px-5 md:px-16">

                <a href="index.html" id="aback" class="text-gray-600 text-xl hover:text-gray-700">
                    <i class="fa fa-arrow-left">

                    </i>
                </a>

                <div id="mainOptions" class="w-7/12 m-auto bg-white shadow-md rounded-full px-3 h-16 flex justify-between items-center">
                    <div class="aicon hover:bg-gray-600 hover:bg-opacity-5 rounded-full w-9 h-9 flex justify-center items-center">
                        <i class="fa fa-camera text-gray-500"></i>
                    </div>

                    <div>
                        <div class="mic hover:bg-gray-100 rounded-full w-12 h-12 flex justify-center items-center">
                            <img src="../images/google-mic-logo.png" class="w-5" alt="">
                        </div>

                        <div class="flex hidden dots transition-all duration-700 delay-1s">
                            <div class="h-2 w-2 rounded-full bg-blue-500"></div>
                            <div class="h-2 w-2 rounded-full bg-red-500"></div>
                            <div class="h-2 w-2 rounded-full bg-green-500"></div>
                            <div class="h-2 w-2 rounded-full bg-yellow-500"></div>
                        </div>
                    </div>

                    <div class="aicon hover:bg-gray-600 hover:bg-opacity-5 rounded-full w-9 h-9 flex justify-center items-center">
                        <i class="fa fa-keyboard text-gray-500"></i>
                    </div>
                </div>

                <div id="theme" class="text-gray-600 text-xl hover:text-gray-700">
                    <i class="fa fa-moon"></i>
                </div>

                <div id="themeLight" class="hidden text-gray-400 text-xl hover:text-gray-200">
                    <i class="fa fa-sun"></i>
                </div>
            </div>
        
        </div>

    </div>

    <script src="../js/main.js"></script>
    <script src="../js/theme.js"></script>
</body>
</html>