<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>

    <link rel="stylesheet" href="../css/tailwind.css">
    <link rel="stylesheet" href="../font-awesome/css/all.min.css">
</head>
<body class="bg-gray-50 transition-all duration-700" style="font-family:Rubik;">


    <script src="../js/main.js"></script>
    <script src="../js/theme.js"></script>
</body>
</html>