<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>

    <link rel="stylesheet" href="../css/tailwind.css">
    <link rel="stylesheet" href="../font-awesome/css/all.min.css">
</head>
<body class="bg-gray-50 transition-all duration-700" style="font-family:Rubik;">

    <div class="lg:w-5/12 m-auto px-5 lg:px-5 md:px-16"> 

        <div class="w-48 h-48 m-auto rounded-full bg-white p-10 mt-16">
            <img src="../images/gAssistant.png" alt="">
        </div>
        
        <form action="" class="mt-20 px-8">
            <input type="text" class="w-full py-3 h-16 bg-transparent text-lg focus:outline-none  focus:border-blue-500 border-b-2 border-gray-400" placeholder="Votre prénom">
            
            <div class="fixed bottom-0 right-0 left-0 w-full">
                <p class="text-center text-gray-500 text-lg hidden"><a href="" class="text-indigo-500">Améliore le :)</a> </p>
                <button type="submit" class="w-full py-5 bg-blue-500 text-white text-xl shadow-lg mt-16 focus:outline-none"><a href="chat.html">Chater maintenant</a></button>
            </div>
            
        </form>
    </div>


    <script src="../js/theme.js"></script>
</body>
</html>